# api id and api hash (my.telegram.org)
# required
API_ID='28768514'
API_HASH='40761fd256d71926ac455e55fcb71ae1'

# pyrogram session string (@genstr_robot)
# required
SESSION=''

# sudo user ids (separate with space)
# optional
SUDOERS='AgG2-QIANl-f1rn37GqyF6sdQoVtFI-GIovlXhsBfR-TRgJS91c6xNClvAfI6XhCAdkD-Iw9MCEIUptykA0gmfdcUdPO-mihl7LIi-muJl5FX8AGFjgxZsL1DfE_Fj_MoiBs7-chaPpHFOjzlCYJ5TKfkyABHoAkzwl5sAWIxxKrYtLaHYM4j9VuqsoxgiUjfehHflXrwPmKALppKjfvREmIBU8PAJCTlWnWpuSSNWovxjBHA9jYcsP9ZJXWf04UAAoAMPTjlpAkUMO_QxkCEvreRKYjkukscA6hkZb7CAFQ3KZa2fBbMdp1r7ulkebvZAhrbWiriE5a2TwclizTrl2uGg6QAAAAF2FQicAA'

# command prefix (separate with space)
# optional
PREFIX='/'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
CUSTOM_QUALITY='high'
